<div class="stars"></div>
<section>
    <div class="obj-cards stage-one">
        <div class="card" *ngFor='let points of cards(5) ;let i= index'>
            <div class="stars"></div>
            <div class="card-objs">
                <div class="card-header">
                    LEAD FROM THE FRONT
                </div>
                <div class="card-body">
                    Spend a total of 3 tokens from your tactic and/or stategy pools.
                </div>
                <div class="points">
                    {{ i + 1 }}
                </div>
                <div class="card-footer">
                    victory points
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="ti-score-tracker">
        <div class="number" *ngFor='let points of point(14) ;let i= index'>{{ i + 1 }}</div>
    </div>
</section>
<section>
    <div class="obj-cards stage-two">
        <div class="card" *ngFor='let points of cards(5) ;let i= index'>
            <div class="stars"></div>
            <div class="card-objs">
                <div class="card-header">
                    LEAD FROM THE FRONT
                </div>
                <div class="card-body">
                    Spend a total of 3 tokens from your tactic and/or stategy pools.
                </div>
                <div class="points">
                    {{ i + 1 }}
                </div>
                <div class="card-footer">
                    victory points
                </div>
            </div>
        </div>
    </div>
</section>